@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

/* Box */

.box {
  display: block;
  border-style: solid;
  height: 375px;
  width: 400px;
  border-width: 1px !important;
}

.boxBig {
  display: block;
  border-style: solid;
  height: 500px;
  width: 400px;
  border-width: 1px !important;
}

.price {
  margin-top: 10px;
  margin-left: 15px;
  color: rgb(72, 72, 72);
}

.reviews {
  /* background-image: url('reviews.png'); */
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid;
  border-color: rgb(72, 72, 72);
}

.line {
  border-bottom: 1px solid;
  border-color: rgb(72, 72, 72);
  margin-left: 20px;
  margin-right: 20px;
}

.datesText {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
}

.date-display-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid;
  padding: 10px 10px 10px 10px;

}
.date-checkin-wrapper {
  width: 40%;
  display: inline-block;
}

.date-checkin-text {
  margin-left: 15px;
}

.date-arrow-wrapper {
  display: inline-block;
  margin-left: 15px;
}

.date-checkout-wrapper {
  width: 45%;
  display: inline-block;
}

.date-checkout-text {
  margin-left: 55px;
}

.guests-text {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
}

.guests-display-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid;
  padding: 10px 10px 10px 10px;
}

.price-calculation-wrapper {
  margin-top: 15px;
  margin-left: 20px;
}

.price-calculation {
  border-bottom: solid 1px;
  margin-right: 20px;
  padding: 10px 0px 10px 0px;
}

.price-calculation-wrapper .result {
  float: right;
}

.total-calculation {
  margin-right: 20px;
  padding: 5px 0px 0px 0px;
}

.booking {
  color: #ffffff !important;
  border-radius: 4px !important;
  border-width: 2px !important;
  border-style: solid !important;
  background: rgb(255, 90, 95) !important;
  border-color: transparent !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: normal !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 700 !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
  box-shadow: none !important;
  width: 100% !important;
}

.booking-button {
  color: #ffffff !important;
  text-align: center;
  margin: 10px;
  margin-top: 25px;
}

.charge-message {
  overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72) !important;
    margin-left: 118px;
}








.guest-container {
  position: absolute !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
  width: 325px;
  height: 300px;
  text-align: left !important;
  margin-bottom: 16px !important;
  box-sizing: border-box !important;
  z-index: 2 !important;
  left: 0px !important;
  background: rgb(255, 255, 255) !important;
  border-radius: 3px !important;
  padding: 0px 16px !important;
  margin-left: 30px;
  margin-top: 30px;
}

.adult-container {
  color: black;
  margin-top: 15px;
  display: inline-block;
}

.adult-increment-container {
  float: right;
  margin-left: 120px;
}

.increment-button {
  height: var(--size-flat-button-size-small, 32px) !important;
    width: var(--size-flat-button-size-small, 32px) !important;
    box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
}


.button-content {
  color: #008489 !important;
  font-size: var(--size-flat-button-icon-size-small, 16px) !important;
}

.guest-counter {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display:inline-block;
}

.children-container {
  color: black;
  margin-top: 18px;
  display: inline-block;
}

.infants-container {
  color: black;
  margin-top: 23px;
  display: inline-block;
}

.children-increment-container {
  float: right;
  margin-left: 101.5px;
}

.infant-increment-container {
  float: right;
  margin-left: 111px;
}

.guest-subtext {
  font-size: 12px;
}

button:disabled {
  background-color: #ffff
}

.bottom-message {
  margin-top: 10px;
}

.close-guest-box {
  color: var(--color-text-link, #008489) !important;
  font-family: var(--font-font_family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
  text-decoration: var(--font-link-text-decoration, none) !important;
  float: right;
  margin-top: 10px;
}